body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #000000 0%,
    #e24958 100%
  );
  color: #fff;
  font-family: "Nunito", serif;
}
/* Main Box i.e. outer div container */
.todoList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  border: 2px solid darkmagenta;
  box-shadow: 0 0 10px lightskyblue, 0 0 40px lightskyblue,
    0 0 80px lightskyblue;
}

h3 {
  position: absolute;
  color: #f39264;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: cursive;
  text-transform: uppercase;
  font-size: 2.8rem;
  z-index: 10;
  font-weight: 700;
}
.content {
  padding: 10px 20px;
}
.content form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px 0 5px;
  border-bottom: 1px solid #8e979c;
}
content form {
  background: transparent;
  border: none;
  height: 35px;
}
.content input {
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #6c717b;
  outline: none;
}
.content .input-buttons a {
  text-decoration: none;
  cursor: pointer;
}
.content .input-buttons i {
  margin-top: 5px;
  font-size: 20px;
  color: #108b58;
}
.content ul.todos {
  margin-left: 0;
  padding: 0;
  letter-spacing: normal;
  height: 220px;
  overflow: auto;
}
.content li {
  user-select: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.content li i {
  color: #0c0c0c;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}

#demo {
  padding-left: 5px;
  border: none;
  max-width: 150px;
  min-height: 25px;
  background-color: transparent;
  color: darkslateblue;
  letter-spacing: 2px;
  font-family: cursive;
}
.todos {
  height: 300px;
  background-color: #f39264;
}
label input.check :checked {
  background-color: rgba(62, 9, 11, 0.3);
}
